.InputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Option {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.textAreaPermissao {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.tabelaRelatorios {
    cursor: pointer;
}


@media (min-width: 768px) {
    .divContainer {
        width: 100%;
        font-size: 14px;
    }

    .Option {
        margin-right: 2rem;
    }

    .InputContainer {
        flex-direction: column;
    }

    .InputContainerSeguranca {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .divContainer {
        width: 100%;
        font-size: 14px;
    }

    .Option {
        margin-right: 2rem;
        gap: 0;
        width: 50%;
        margin-top: 1rem;
    }

    .InputContainer {
        display: flex;
        flex-direction: row;
        
    }
    .InputContainerSeguranca{
        flex-direction: row;
        gap: 0;
    }

    .areaPesquisa {
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
    }

    .pesquisarOption{
        width: 50%;
        gap: 0;
    }

    .textAreaSeguranca{
        margin: 1rem;
        gap: 0;
    }

    .tabelaHeaderPermissao{
        justify-content: center;
        align-items: center;
    }
}