.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  animation: fadeIn 0.3s ease-out;
}

.modalContent {
  background: var(--bg-primary);
  padding: 32px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 550px;
  max-width: 90%;
  animation: slideIn 0.4s ease-out;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-primary);
}

.modalHeader h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--cor-padrao);
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--cinza-padrao);
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--cor-padrao);
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.instructions {
  text-align: center;
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.instructionsParag {
  color: var(--text-secondary);
}

.imagePreviewContainer {
  width: 270px;
  height: 250px;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background-color: var(--border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addFileButton {
  display: flex;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  border: 1px solid var(--border-primary);
  padding: 8px 15px;
  border-radius: 24px;
  cursor: pointer;
  height: 40px;
  font-size: 0.95rem;
  font-weight: 600;
  gap: 0.5rem;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.addFileButton:hover {
  color: var(--cor-padrao);
  border: 1px solid var(--cor-padrao);
  transform: translateY(-2px);
}

.InputButtonPNG {
  display: flex;
  gap: 1rem;
}

.modalFooter {
  display: flex;
}

.submitButton {
  background-color: transparent;
  color: var(--cor-padrao);
  border: 2px solid var(--cor-padrao);
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--cor-padrao);
  color: white;
  opacity: 80%;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}