.atendimentosContainer,
.atendimentosContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.atendimentosTitleTela{
    color: var(--cor-padrao);
    margin: 0;
}

.atendimentosDescriptionTela{
    color: var(--cinza-padrao);
    font-size: 0.95rem;
    line-height: 1.25;
    margin: 0;
}

.filtroTabelaField{
    background: var(--branco);
    border-radius: 0.5rem;
    width: 100%;
}

.filtroTabelaContent{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
}

.filtroTabelaHeader{
    display: flex;
    justify-content: space-between;
}

.filtroTabelaTitle{
    margin: 0;
    color: var(--cinza-padrao);
    display: flex;
    align-items: center;
}

.filtroTabelaButton{
    appearance: none;
    border: 1px solid var(--cor-padrao);
    border-radius: 0.5rem;
    padding: 0.65rem 1rem;
    font-size: 0.85rem;
    line-height: unset;
    background-color: transparent;
    color: var(--cor-padrao);
    cursor: pointer;
}

.filtroTabelaBody{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    flex-basis: 100%;
}
  
.inputLabel {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--cinza-padrao);
    padding: 0.25rem;
}
  
.required {
    color: var(--erro);
}

.textInput,
.selectInput {
    appearance: none;
    border: 1px solid var(--cinza-claro);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
    line-height: unset;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    text-transform: uppercase;
    flex: 1;

    transition: border 0.2s ease-in-out;
}

.textDefault,
.textInput::placeholder,
.selectInput::placeholder {
    text-transform: none;
}

.textInput:focus,
.selectInput:focus {
    border: 1px solid var(--cor-padrao); 
    outline: none;
}

.selectInputField{
    display: flex;
    align-items: center;
    position: relative;
}

.selectInput{
    width: 100%;
    height: 100%;
}

.rowInputs{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.selectInputField i{
    position: absolute;
    right: .75rem;
    color: var(--cinza-padrao);
    user-select: none;
    pointer-events: none;
}


.tabelaPaciente {
    display: flex;
    gap: 0.5rem;
}
  
.avatar {
    border-radius: 24px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}
  
.avatar img{
    min-width: 100%;
    border-radius: 20px;
}
  
.pacienteInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0.25rem;
}
  
.pacienteName {
    color: var(--cinza-padrao);
    font-size: 0.85rem;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
}

.pacienteCNPJ {
    color: var(--cinza-padrao);
    font-size: 0.75rem;
    font-weight: 500;
    white-space: nowrap;
}

.tabelaStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    color: var(--cor-dinamica);
    border: 1px solid var(--cor-dinamica);
}

.tabelaStatusCell{
    padding: 1rem 1.5rem;
}

.tabelaStatusField{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tabelaStatusDate{
    color: var(--cor-dinamica);
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;
}

.tabelaStatusbutton{
    color: var(--cor-link);
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.tabelaAtendimento{
    display: flex;
    gap: 0.75rem;
}

.tabelaAtendimentoField,
.tabelaProfissionalField{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tabelaAtendimentoField:last-child span{
    min-width: 15rem;
}

.tabelaProfissionalField:last-child span{
    min-width: 10rem;
}

.tabelaAtendimentoField span,
.tabelaProfissionalField span{
    text-align: left;
    color: var(--cinza-padrao);
}

.modalStatusContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.modalStatus{
    display: flex;
    flex-direction: column;
    background: var(--branco);
    border-radius: 1rem;
    gap: 1.25rem;
    padding: 1.5rem;
    max-width: calc(100% - var(--header-padding) * 4);
    max-height: calc(100vh - var(--header-height)* 4);
}

.modalStatusHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-padrao);
}

.modalStatusTitle{
    color: var(--cinza-padrao);
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0;
}

.closeButton{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--cor-padrao);
}

.modalStatusContent{
    display: flex;
    flex-direction: column;
    padding: 0;
    color: var(--cinza-padrao);
    font-size: 0.95rem;
    font-weight: 500;
    max-width: 100%;
    gap: 1rem;
}

.modalStatusData{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--cinza-claro);
}

.modalStatusDataValue{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modalStatusDataLabel{
    color: var(--cinza-padrao);
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.modalStatusDataValue{
    color: var(--cor-padrao);
    font-size: 0.9rem;    
    font-weight: 600;
    margin: 0;
}

.modalStatusLista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalStatusItem{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modalStatusItemValue{
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cinza-padrao);
    border-radius: 5rem;
}

.modalStatusItemValue.status{
    border: 1px solid var(--cor-dinamica);
    color: var(--cor-dinamica);
    min-width: 5rem;
    text-align: center;
}